.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 1fr 10fr 1fr;
  grid-template-areas:
    "heading"
    "nav"
    "main"
    "footer";
  letter-spacing: 1px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}

.heading {
  grid-area: "heading";
}
.nav {
  grid-area: "nav";
}
.main {
  grid-area: "main";
}

.footer {
  grid-area: "footer";
}
